                body{

 			position: relative; 
 		}

 		
 		
 		
 		.btn-group-justified .btn-default{
			
			border-top: 2px solid black;
			border-bottom: 2px solid black;
		 	border-left: 1px solid black;
		 	border-right: 1px solid black;
 		}
 		


 		.btn-group-justified .btn-default:first-child{
 			border-left: 1px solid black;
 			border-top-left-radius: 15px;
 			border-bottom-left-radius: 15px;
 		}

 		.btn-group-justified .btn-default:last-child{
 			border-right: 1px solid black;
 			border-top-right-radius: 15px;
 			border-bottom-right-radius: 15px;
 		
 		}

 		.navbar {
 			text-align: center;
 			padding: 4px;
 			background-color: grey; 			
 		}

 		.page-header{

			background-color: grey; 			
 		}

 		.up-btn {
 		       
		 border:2px solid black;
		 border-left:0;
		 border-radius:10px; 
 		 margin-left:10px;
		 	
 		}

                .up-btn:before {
                 
		 position: absolute;
		 margin-left:-20px;
	         margin-top:-4px;
		 content:"";
		 width:28px;
		 height:28px;
		 transform: rotate(45deg); 
		 -moz-transform: rotate(45deg);
		 border-left:2px solid black;
		 border-bottom:2px solid black;
		 border-radius:10px;
                 background-color:white;
		 z-index:-1;
		}
