	<form class = "addform">
		<input type="text" class="form-control" placeholder="Task Name">	
	   	<div class="input-group">
	   			<input type="text" class="form-control" placeholder="Duration"><span class="input-group-addon glyphicon glyphicon-triangle-bottom"></span>
		</div>		  
		<div class="input-group">
			<input type="text" class="form-control" placeholder="04/22/2012"><span class="input-group-addon glyphicon glyphicon-triangle-bottom"></span>
		</div>	
		<textarea class="form-control">Notes</textarea>
		<button class = "btn btn-default">Shedule Task</button>	
	</form>