<p class ="text-center">Начальная страница!</p>
	<p>Для формы поиска установила background-color, везде работает,а в IE 7 и 8 вместо мною установленного цвета просто белый цвет.Как сделать так,что бы и в раннем ie цвет формы поиска стал синим?
	стили:
	form{width:250px;}

	input.colorsearch{
	margin-right:12px;
	background-color:rgba(11,77,130,0.5);
	padding:5px;
	color:#fff;
	border-bottom:1px solid #2c8ec2;
	border-top:1px solid #0c4073;
	border-right:1px solid
	width:175px;
	}</p>
	<p>
	Для формы поиска установила background-color, везде работает,а в IE 7 и 8 вместо мною установленного цвета просто белый цвет.Как сделать так,что бы и в раннем ie цвет формы поиска стал синим?
	стили:
	form{width:250px;}

	input.colorsearch{
	margin-right:12px;
	background-color:rgba(11,77,130,0.5);
	padding:5px;
	color:#fff;
	border-bottom:1px solid #2c8ec2;
	border-top:1px solid #0c4073;
	border-right:1px solid
	width:175px;
	}	
</p>
