<div class="scroll-view-body">
 <div class ="title"><h3>Shedule your task</h3></div>
 <div class = "div-round">		
	<div class="row">
		<div class="col-xs-6 text-left">Monday</div><div class="col-xs-6 text-right">5:00-5:15</div>
	</div>
	 <div class="div-line" >
	 <div class="row">
		<div class="col-xs-6 text-left">Tuesday</div><div class="col-xs-6 text-right">5:00-5:15</div>
	 </div>
	 </div>	
	 <div class="div-line">
	 <div class="row">	
		<div class="col-xs-6 text-left" >26/12/2013</div><div class="col-xs-6 text-right">5:00-5:15</div>
	 </div>
	</div>
	 <div  class="div-line">
	 <div class="row">	
		<div class="col-xs-6 text-left">None</div><div class="col-xs-6 text-right">5:00-5:15</div>
	 </div>
	</div>
</div>
</div> 